{% include 'AdministradorBundle:Default:administrador_header.html.twig' %}
{% include 'AdministradorBundle:Default:administrador_menu_horizontal.html.twig' %}

{% block body -%}

    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Editar Paciente</h2>

            </div>
            <center>
                <div class="box-content">
                    <table class="table table-bordered table-striped table-condensed">

                        {{ form_start(edit_form)}}
                        {{form_errors(edit_form)}}
                        <tbody>
                            <tr>
                                <th style="width: 400px;"> {{ form_label(edit_form.nombre) }}</th>
                                <td>{{form_widget(edit_form.nombre)}}
                                    {{ form_errors(edit_form.nombre) }}</td>
                            </tr>
                            <tr>
                                <th style="width: 400px;"> {{form_label(edit_form.cedula)}}</th>
                                <td> {{form_widget(edit_form.cedula)}}
                                    {{ form_errors(edit_form.cedula) }}</td>
                            </tr>

                            <tr>
                                <th style="width: 400px;"> {{form_label(edit_form.fechaDeIngreso)}}</th>
                                <td>{{ form_errors(edit_form.fechaDeIngreso) }}
                                    {{form_widget(edit_form.fechaDeIngreso)}}</td>
                            </tr>

                            <tr>
                                <th style="width: 400px;"> {{form_label(edit_form.sexo)}} </th>
                                <td> {{ form_errors(edit_form.sexo) }}
                                    {{form_widget(edit_form.sexo)}}</td>
                            </tr>

                            <tr>
                                <th style="width: 400px;"> {{form_label(edit_form.edad)}}</th>
                                <td> {{ form_errors(edit_form.edad) }}
                                    {{form_widget(edit_form.edad)}}</td>
                            </tr>

                            <tr>
                                <th style="width: 400px;"> {{form_label(edit_form.ocupacion)}}</th>
                                <td> {{ form_errors(edit_form.ocupacion) }}
                                    {{form_widget(edit_form.ocupacion)}}</td>
                            </tr>

                            <tr>
                                <th style="width: 400px;">  {{form_label(edit_form.carne)}} </th>
                                <td> {{ form_errors(edit_form.carne) }}
                                    {{form_widget(edit_form.carne)}}</td>
                            </tr>

                            <tr>
                                <th style="width: 400px;">  {{form_label(edit_form.apartadoPostal)}}</th>
                                <td> {{ form_errors(edit_form.apartadoPostal) }}
                                    {{form_widget(edit_form.apartadoPostal)}}</td>
                            </tr>

                            <tr>
                                <th style="width: 400px;"> {{form_label(edit_form.estadoCivil)}} </th>
                                <td>  {{ form_errors(edit_form.estadoCivil) }}
                                    {{form_widget(edit_form.estadoCivil)}}</td>
                            </tr>

                            <tr>
                                <th style="width: 400px;">{{form_label(edit_form.beca)}} </th>
                                <td> {{ form_errors(edit_form.beca) }}
                                    {{form_widget(edit_form.beca)}}</td>
                            </tr>
                            <tr>
                                <th style="width: 400px;">{{form_label(edit_form.direccion)}} </th>
                                <td>{{ form_errors(edit_form.direccion) }}
                                    {{form_widget(edit_form.direccion)}}</td>
                            </tr>
                            <tr>
                                <th style="width: 400px;"> {{form_label(edit_form.carrera)}} </th>
                                <td>{{ form_errors(edit_form.carrera) }}
                                    {{form_widget(edit_form.carrera)}}</td>
                            </tr>
                            <tr>
                                <th style="width: 400px;">{{form_label(edit_form.telefonoHabitacion)}} </th>
                                <td>{{ form_errors(edit_form.telefonoHabitacion) }}
                                    {{form_widget(edit_form.telefonoHabitacion)}}</td>
                            </tr>
                            <tr>
                                <th style="width: 400px;">  {{form_label(edit_form.telefonoTrabajo)}}</th>
                                <td>{{ form_errors(edit_form.telefonoTrabajo) }}
                                    {{form_widget(edit_form.telefonoTrabajo)}}</td>
                            </tr>
                            <tr>
                                <th style="width: 400px;"> {{form_label(edit_form.telefonoMovil)}}</th>
                                <td>{{ form_errors(edit_form.telefonoMovil) }}
                                    {{form_widget(edit_form.telefonoMovil)}}</td>
                            </tr>
                            <tr>
                                <th style="width: 400px;">{{form_label(edit_form.correoElectronico)}} </th>
                                <td>{{ form_errors(edit_form.correoElectronico) }}
                                    {{form_widget(edit_form.correoElectronico)}}</td>
                            </tr>
                            <tr>
                                <th style="width: 400px;"> {{form_label(edit_form.sintoma)}}</th>
                                <td> {{ form_errors(edit_form.sintoma) }}
                                    {{form_widget(edit_form.sintoma)}}</td>
                            </tr>
                            <tr>
                                <th style="width: 400px;"> Encargado </th>
                                <td> {{ form_errors(edit_form.idencargado) }}
                                    {{form_widget(edit_form.idencargado)}}</td>
                            </tr>
                            <tr>
                                <th style="width: 400px;"> Odontologo</th>
                                <td>  {{ form_errors(edit_form.idodontologo) }}
                                    {{form_widget(edit_form.idodontologo)}}</td>
                            </tr>

                        </tbody>

                    </table>
                </div>

                <table>
                    <tr>

                        <td> {{form_widget(edit_form.submit)}}
                        </td>
                        <td>  <a href="{{ path('paciente') }}" class="btn btn-primary btn-sm">
                                Volver
                            </a>
                        </td>
                        <td>  {{ form_start(delete_form)}}
                            {{ form_widget(delete_form) }}
                            {{ form_end(delete_form)}}
                        </td>
                    </tr>
                </table>

                {{ form_end(edit_form)}}



            </center>
        </div>

    {% endblock %}
    {% include 'AdministradorBundle:Default:administrador_footer.html.twig' %}