{% include 'AdministradorBundle:Default:administrador_header.html.twig' %}
{% include 'AdministradorBundle:Default:administrador_menu_horizontal.html.twig' %}

{% block body -%}
 





    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Lista de pacientes</h2>

            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>

                            <th>Nombre</th>
                            <th>Cedula</th>
                            <th>Edad</th>
                            <th>Carne</th>
                            <th>Beca</th>
                            <th>Carrera</th>
                            <th>Telefono</th>
                            <th>Correoelectronico</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>

                                <td><a href="{{ path('paciente_show', { 'id': entity.id }) }}">{{ entity.nombre }}</td>
                                <td>{{ entity.cedula }}</td>
                                
                                <td>{{ entity.edad }}</td>


                                <td>{{ entity.carne }}</td>

                                <td>{{ entity.beca }}</td>
                                <td>{{ entity.carrera }}</td>


                                <td>{{ entity.telefonoMovil }}</td>
                                <td>{{ entity.correoElectronico }}</td>

                                <td>
                                    <ul>

                                        <a href="{{ path('paciente_show', { 'id': entity.id }) }}" class="btn btn-primary btn-sm">Ver</a>


                                        <a href="{{ path('paciente_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-sm">Editar</a>

                                    </ul>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
<center>
                <ul class="pagination pagination-centered">
                    <li><a href="#">Anterior</a></li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Siguiente</a></li>
                </ul>
    </center>
            </div>
<center>
            <ul>

                <a href="{{ path('paciente_new') }}">
                    <strong>Ingresar un nuevo paciente </strong>
                </a>

            </ul>
</center>
        </div>

    </div><!--/span-->


{% endblock %}
{% include 'AdministradorBundle:Default:administrador_footer.html.twig' %}