{% include 'AdministradorBundle:Default:administrador_header.html.twig' %}
{% include 'AdministradorBundle:Default:administrador_menu_horizontal.html.twig' %}

{% block body -%}
    <h1>Paciente list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cedula</th>
                <th>Fechadeingreso</th>
                <th>Sexo</th>
                <th>Edad</th>
                <th>Nombre</th>
                <th>Ocupacion</th>
                <th>Carne</th>
                <th>Apartadopostal</th>
                <th>Beca</th>
                <th>Carrera</th>
                <th>Estadocivil</th>
                <th>Direccion</th>
                <th>Telefonohabitacion</th>
                <th>Telefonotrabajo</th>
                <th>Telefonomovil</th>
                <th>Correoelectronico</th>
                <th>Sintoma</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('paciente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cedula }}</td>
                <td>{% if entity.fechaDeIngreso %}{{ entity.fechaDeIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.sexo }}</td>
                <td>{{ entity.edad }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.ocupacion }}</td>
                <td>{{ entity.carne }}</td>
                <td>{{ entity.apartadoPostal }}</td>
                <td>{{ entity.beca }}</td>
                <td>{{ entity.carrera }}</td>
                <td>{{ entity.estadoCivil }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefonoHabitacion }}</td>
                <td>{{ entity.telefonoTrabajo }}</td>
                <td>{{ entity.telefonoMovil }}</td>
                <td>{{ entity.correoElectronico }}</td>
                <td>{{ entity.sintoma }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('paciente_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('paciente_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('paciente_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
  {% include 'AdministradorBundle:Default:administrador_footer.html.twig' %}