{% include 'AdministradorBundle:Default:administrador_header.html.twig' %}
{% include 'AdministradorBundle:Default:administrador_menu_horizontal.html.twig' %}
{% block body -%}

    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Paciente</h2>
            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-condensed">
                    <tbody>
                        <tr>
                            <th style="width: 400px;">Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Cedula</th>
                            <td>{{ entity.cedula }}</td>
                        </tr>
                        <tr>
                            <th>Fecha de ingreso</th>
                            <td>{{ entity.fechaDeIngreso|date('Y-m-d') }}</td>
                        </tr>
                        <tr>
                            <th>Sexo</th>
                            {%if entity.sexo== 1%}
                            <td> Masculino </td>
                            {%endif%}
                            {%if entity.sexo== 2%}
                            <td> Femenino </td>
                            {%endif%}                            
                        </tr>
                        <tr>
                            <th>Edad</th>
                            <td>{{ entity.edad }}</td>
                        </tr>
                        
                        <tr>
                            <th>Ocupacion</th>
                            <td>{{ entity.ocupacion }}</td>
                        </tr>
                        <tr>
                            <th>Carne</th>
                            <td>{{ entity.carne }}</td>
                        </tr>
                        <tr>
                            <th>Apartado postal</th>
                            <td>{{ entity.apartadoPostal }}</td>
                        </tr>
                        <tr>
                            <th>Beca</th>
                            {%if entity.beca== 1%}
                            <td> Beca 1 </td>
                            {%endif%}
                            {%if entity.beca== 2%}
                            <td> Beca 2 </td>
                            {%endif%}
                            {%if entity.beca== 3%}
                            <td> Beca 3 </td>
                            {%endif%}
                            {%if entity.beca== 4%}
                            <td> Beca 4 </td>
                            {%endif%}
                            {%if entity.beca== 5%}
                            <td> Beca 5 </td>
                            {%endif%}
                        </tr>
                        <tr>
                            <th>Carrera</th>
                            <td>{{ entity.carrera }}</td>
                        </tr>
                        <tr>
                             <th>Estado civil</th>
                            {%if entity.estadoCivil== 1%}
                            <td> Soltero </td>
                            {%endif%}
                            {%if entity.estadoCivil== 2%}
                            <td> Casado </td>
                            {%endif%}
                            {%if entity.estadoCivil== 3%}
                            <td> Divorciado </td>
                            {%endif%}
                            {%if entity.estadoCivil== 4%}
                            <td> Viudo </td>
                            {%endif%}
                        </tr>
                        <tr>
                            <th>Direccion</th>
                            <td>{{ entity.direccion }}</td>
                        </tr>
                        <tr>
                            <th>Telefono de habitacion</th>
                            <td>{{ entity.telefonoHabitacion }}</td>
                        </tr>
                        <tr>
                            <th>Telefono de trabajo</th>
                            <td>{{ entity.telefonoTrabajo }}</td>
                        </tr>
                        <tr>
                            <th>Telefono movil</th>
                            <td>{{ entity.telefonoMovil }}</td>
                        </tr>
                        <tr>
                            <th>Correo electronico</th>
                            <td>{{ entity.correoElectronico }}</td>
                        </tr>
                        <tr>
                            <th>Sintoma</th>
                            <td>{{ entity.sintoma }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                            <center>
                                <table>

                                    <ul class="record_actions">
                                        <td>
                                            <a href="{{ path('paciente') }}"class="btn btn-primary btn-sm">
                                                Volver
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('paciente_edit', { 'id': entity.id }) }} " class="btn btn-primary btn-sm">
                                                 Editar
                                            </a>
                                        </td>

                                        {{ form_start(delete_form)}}
                                        <td>      
                                            {{ form_widget(delete_form) }} 
                                        </td>
                                        {{ form_end(delete_form)}}
                                       
                                    </ul>
                                    </td>
                                </table>
                            </center>
        {% endblock %}
        {% include 'AdministradorBundle:Default:administrador_footer.html.twig' %}