{% include 'AdministradorBundle:Default:administrador_header.html.twig' %}
{% include 'AdministradorBundle:Default:administrador_menu_vertical.html.twig' %}
{% block body -%}
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Odontólogo</h2>
            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-condensed">
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Telefono</th>
                            <td>{{ entity.telefono }}</td>
                        </tr>
                        <tr>
                            <th>Correoelectronico</th>
                            <td>{{ entity.correoElectronico }}</td>
                        </tr>
                        <tr>
                            <th>Practicante</th>
                            <td>{{ entity.practicante }}</td>
                        </tr>
                        <tr>
                            <th>Cedula</th>
                            <td>{{ entity.cedula }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <center>
                <table>

                    <ul class="record_actions">
                        <td>
                            <a href="{{ path('odontologo') }}"class="btn btn-primary btn-sm">
                                Volver
                            </a>
                        </td>
                        
                        <td>
                            <a href="{{ path('odontologo_edit', { 'id': entity.id }) }}"class="btn btn-primary btn-sm">
                                Editar
                            </a>
                        </td>
                        <td>
                            {{ form(delete_form) }}
                        </td>
                    </ul>
                    </td>
                </table>
            </center>             


        {% endblock %}
        {% include 'AdministradorBundle:Default:administrador_footer.html.twig' %}