<!-- left menu starts -->
<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">

            </div>
            <ul class="nav nav-pills nav-stacked main-menu">
                <li class="nav-header">Menu Principal</li>
                <li><a class="ajax-link" href="{{url('inicio')}}"><i class="glyphicon glyphicon-home"></i><span> Inicio</span></a>
                </li>
                <li><a class="ajax-link" href="{{url('paciente')}}"><i
                            class="glyphicon glyphicon-user"></i><span> Paciente</span></a></li>
                <li><a class="ajax-link" href="{{url('cita')}}"><i class="glyphicon glyphicon-calendar"></i><span> Citas</span></a>
                </li>
                <li><a class="ajax-link" href="{{url('odontologo')}}"><i
                            class="glyphicon glyphicon-user"></i><span> Odontologos</span></a></li>
                <li><a class="ajax-link" href="{{url('tratamientogeneral')}}"><i class="glyphicon glyphicon-plus-sign"></i><span> Tratamientos</span></a>
                </li>
                <li><a class="ajax-link" href="chart.html"><i class="glyphicon glyphicon-list-alt"></i><span> Reportes</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--/span-->
<!-- left menu ends -->


<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <div class=" row">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="6 new members." class="well top-block" href="{{url('paciente')}}">
                <i class="glyphicon glyphicon-user blue"></i>

                <div>Informacion Personal</div>


            </a>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="4 new pro members." class="well top-block" href="{{url('encargado')}}">
                <i class="glyphicon glyphicon-star green"></i>

                <div>Encargado</div>


            </a>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="$34 new sales." class="well top-block" href="{{url('historialmedico')}}">
                <i class="glyphicon glyphicon-shopping-cart yellow"></i>

                <div>Historial Medico</div>


            </a>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="12 new messages." class="well top-block" href="{{url('examenradiologico')}}">
                <i class="glyphicon glyphicon-envelope red"></i>

                <div>Examen Radiologico</div>


            </a>
        </div>


        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="Insertar el consentimiento informado" class="well top-block" href="{{url('consentimientoinformado')}}">
                <i class="glyphicon glyphicon-star green"></i>

                <div>Consentimiento Informado</div>


            </a>
        </div> 
                <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="12 new messages." class="well top-block" href="{{url('vigilanciaepidemiologica')}}">
                <i class="glyphicon glyphicon-envelope red"></i>

                <div>Vigilancia Epidemiologica</div>


            </a>
        </div>
    </div>
                
                
       


    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">