{% include 'AdministradorBundle:Default:administrador_header.html.twig' %}
{% include 'AdministradorBundle:Default:administrador_menu_vertical.html.twig' %}
{% block body -%}
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Lista de tratamientos generales</h2>

            </div>
            <div class="box-content">

                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('tratamientogeneral_show', { 'id': entity.id }) }}">{{ entity.nombreTratamiento }}</a></td>
                                <td>{{ entity.descripcion }}</td>
                                <td>
                                    <ul>
                                        <a href="{{ path('tratamientogeneral_show', { 'id': entity.id }) }}"class="btn btn-primary btn-sm">Ver</a>

                                        <a href="{{ path('tratamientogeneral_edit', { 'id': entity.id }) }}"class="btn btn-primary btn-sm">Editar</a>

                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <center>
                    <ul class="pagination pagination-centered">
                        <li><a href="#">Anterior</a></li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Siguiente</a></li>
                    </ul>


                    <ul>
                        <a href="{{ path('tratamientogeneral_new') }}">
                            Crear un nuevo tratamiento general
                        </a>
                    </ul>
                </center>
            {% endblock %}
            {% include 'AdministradorBundle:Default:administrador_footer.html.twig' %}
