{% include 'AdministradorBundle:Default:administrador_header.html.twig' %}
{% include 'AdministradorBundle:Default:administrador_menu_vertical.html.twig' %}
{% block body -%}
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Tratamiento General</h2>
            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-condensed">
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombreTratamiento }}</td>
                        </tr>
                        <tr>
                            <th>Descripción</th>
                            <td>{{ entity.descripcion }}</td>
                        </tr>                      
                    </tbody>
                </table>


                <center>
                    <table>

                        <ul class="record_actions">
                            <td>
                                <a href="{{ path('tratamientogeneral') }}"class="btn btn-primary btn-sm">
                                    Volver
                                </a>
                            </td>

                            <td>
                                <a href="{{ path('tratamientogeneral_edit', { 'id': entity.id }) }}"class="btn btn-primary btn-sm">
                                    Editar
                                </a>
                            </td>
                            </td>
                            {{ form_start(delete_form)}}
                            <td > 
                                {{ form_widget(delete_form.submit) }}
                            </td>
                            {{ form_end(delete_form)}}
                        </ul>
                        </td>
                    </table>
                </center>  
            </div>
{% endblock %}
{% include 'AdministradorBundle:Default:administrador_footer.html.twig' %}
